<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roadragekiller">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/speedy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/speedy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StatsActivity"></activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="Z8iddmN674Db7x7XB6QT" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="8UzmfTkJaZie1FwwDpjgyA" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="DVWlmfc/MHSDhyiAuMBVQTK5CBy3Nbix9Wm5fLC2Ac96MOAXb/WmYXpxiQO4J9XLJRMY72dJHPYyfX+Bc40IRMHChpPYCmxdDSkRJLXC0zArnOShEVEzwJrHF+DznpdYwl1nUoCB6gLkubK8g3bq+mhPsqbq8RDNmiGIu+HwNr0cCdqEZw4uW0nM/0E/BaB5pApVgnVnbU7+DlYoXRsZ7FB5du4oNwzL91FEkEiJDc7fmnRdSy5lv5IwsWn1ljMEUSSt8SSdeplhHVXdkUJpj+XGVDh2Zok1rnm7sA2EoKvjtFqbNKNTeZOhIH3i4a5wlImlmTcrCNTF1fBNOeNE4zGDyCWFYM6zSWRlPf1OUB6pH679POP9NQbuC3ksCSTyXyBUo7K8LLJP080VnWcQ0UHQ98KriD6hgEVs0Xg3ZHIAYXXdeWMwu7AftFCMB8nml/WAIOTjhCexa3S67b8LGXGKgKWIZYegSKtwXNAeMRUt1NFBLVp8xW+lysa59DBFCf+/w+nql6BTrTOcWFUxRFG63yesXfK2wkD6JY/2wxmqj/5mr8lrgsUv0y9f7wDhnAiELZN+7KLaA3Lq22LZIxcJ204yi8uPZqIZjPtSbwfMTV1zejitER/tfbE8ndWdJzPhRXPMSx8Nrrbq28hHU8QlDfnNg96HdY6M3TWJwnc="/>
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v3"
            android:exported="true">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService.v3"></action>
            </intent-filter>
        </service>
    </application>

</manifest>